@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Teko";
    font-weight: 400;
    src: url("../../public/fonts/Teko-Regular.ttf");
  }
  @font-face {
    font-family: "Teko";
    font-weight: 500;
    src: url("../../public/fonts/Teko-Regular.ttf");
  }
}

@layer utilities {
}

@layer components {
  .app {
    @apply flex w-screen h-screen;
  }
  .app-overflow {
    @apply flex flex-col w-full max-h-full overflow-y-auto grow custom-scrollbar;
  }
  .app-content {
    @apply flex flex-col justify-center items-center w-full;
  }
  .app-page {
    @apply min-h-[calc(100vh-4rem)] flex w-full p-4;
  }
  .app-page2xl {
    @apply min-h-[calc(100vh-4rem)] max-w-screen-2xl flex w-full p-4;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[5px] h-[5px] bg-default rounded-[4px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary h-[5px] rounded-[4px];
  }

  .project-section {
    @apply w-full max-w-screen-md p-4 sm:px-4 px-0 relative my-4 min-h-[calc(100vh-65px)] snap-end flex flex-col justify-center;
  }

  .tb1 {
    @apply border-4 border-primary;
  }
  .tb2 {
    @apply border-4 border-secondary;
  }
  .tb3 {
    @apply border-4 border-success;
  }
  .tb4 {
    @apply border-4 border-danger;
  }

  .bg-image-home {
    background-image: url("/images/wave.png");
    object-fit: contain;
    background-attachment: scroll;
  }

  .all-border * {
    @apply border border-divider;
  }
}
