@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Teko";
    font-weight: 400;
    src: url("../../public/fonts/Teko-Regular.ttf");
  }
  @font-face {
    font-family: "Teko";
    font-weight: 500;
    src: url("../../public/fonts/Teko-Regular.ttf");
  }
}

@layer utilities {
}
